/* Shared Styles */

%spacing-mainblock {
	margin-top: 40px;
 	margin-bottom: 40px;
}

%spacing-inline {
	margin-right: 15px;
 	margin-left: 15px;
 	display: inline;
}

%spacing-button {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
 	margin-bottom: 10px;
}

/* App */

.App {
	@extend %spacing-mainblock;
}

.App-header {
	text-align: center;
}

.App h2 {
	margin-bottom: 15px;
	margin-left: 60px;
	text-align: left;
}

.App h3 {
	margin-bottom: 15px;
	margin-left: 90px;
	text-align: left;
}

.App-content {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

.App-error {
	display: block;
}

.App-error-hidden {
	display: none;
}

.App-note {
	font-style: italic;
	margin-top: 10px;
}

.App-subtitle {
	font-size: 1.2em;
	margin-top: 10px;
}
/* Generate */

.Generate {
	@extend %spacing-mainblock;
}

.Generate-form {
	@extend %spacing-inline;
}

.GenerateLoading-download-true {
	@extend %spacing-inline;

}

.GenerateLoading-download-true a {
	color: white;
}

.GenerateLoading-download-false {
	display: none;
}

.Generate-button {
	margin-top: 10px;
 	margin-bottom: 10px;
}

/* Meetings */

.Meetings {
	@extend %spacing-mainblock;
}

.Meetings-button {
	@extend %spacing-button;
}

.Meetings-source-lable .Meetings-page-lable {
	font-weight: bold;
}

.Meetings-source-input {
	width: 30em;
}

.Meetings-page-input {
	width: 2em;
}